body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: auto 0;
    color:black;
}
.zone {
    cursor:pointer;
    color:black;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin:0;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5;
        padding: 0;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
    
li {
    padding: 20px;
}

a {
    color: #F4F5FE;
    text-decoration: none ;
}

.main-section {
    background-color: #f4f5fe;
    text-align: center;
    font-size: medium;
}
.cover {
    width: 20rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img {
    width: 100%;
}

.box {
    background-color:white;
    padding: 120px;
    margin: 20px;
}

.push {
    margin-left: auto;
}
.nav{
    background: #687EF4;
}

.main-section{
    background: #F4F5FE;
}

.footer{
    background: #F4F5FE;
    text-align: end;
}
