* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Zen Antique', serif;

}

    .bg {
        animation:slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, rgb(51, 122, 204) 50%, rgb(20, 23, 241) 50%);
        bottom:0;
        left:-50%;
        opacity:.5;
        position:fixed;
        right:-50%;
        top:0;
        z-index:-1;
      }
      
      .bg2 {
        animation-direction:alternate-reverse;
        animation-duration:4s;
      }
      
      .bg3 {
        animation-duration:5s;
      }
      
      .content {
        background-color:rgba(255,255,255,.8);
        border-radius:.25em;
        box-shadow:0 0 .25em rgba(0,0,0,.25);
        box-sizing:border-box;
        left:50%;
        padding:10vmin;
        position:fixed;
        text-align:center;
        top:50%;
        transform:translate(-50%, -50%);
      }

      @keyframes slide {
        0% {
          transform:translateX(-25%);
        }
        100% {
          transform:translateX(25%);
        }
      }
            

        .mypicture {
            transition: transform .7s ease-in-out;
            border-radius: 30%;
        }

        #contact-form {
            text-align: center;
        }
        .contact-title {
            text-align: center;
        }

        .banner-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }


        .mypicture:hover {
            transform: rotate(5deg);
        
        }

        .clear { 
            clear: both; }
            
        #page-wrap { 
            width: 800px; 
            margin: 40px auto 60px; }
            
        #pic { 
            float: right; 
            margin: -30px 0 0 0; }

        h1 { 
            margin: 0 0 16px 0; 
            padding: 0 0 16px 0; 
            font-size: 42px; 
            font-weight: bold; 
            letter-spacing: -2px; 
            border-bottom: 2px solid rgb(0, 0, 0);
            font-family: 'Zen Antique', serif; 
        
        }

        h2 { 
            font-size: 15px;
            margin: 0 0 6px 0; 
            position: relative; 
            font-family: 'Zen Antique', serif;

        }
        
        h2 span { 
            position: absolute; 
            bottom: 0;
            right: 0; 
            font-style: italic; 
            font-size: 16px; 
            color: rgb(0, 0, 0); 
            font-weight: normal;
            font-family: 'Zen Antique', serif;
            
        }

        p { 
            margin: 0 0 16px 0;
            font-family: 'Zen Antique', serif;

   
        }

        a {
             color: rgb(0, 0, 0);
            text-decoration: none; 
            border-bottom: 1px dotted rgb(0, 0, 0); 
            font-family: 'Zen Antique', serif;
        }
            

        a:hover { 
            border-bottom-style: solid; 
            color: black; 
            font-family: 'Zen Antique', serif;
        }

        ul {
             margin: 0 0 32px 17px; }

        #objective {
             width: 500px; 
             float: left; 
             font-family: 'Zen Antique', serif;}

        #objective p {
            font-family: 'Zen Antique', serif;; 
            color: rgb(0, 0, 0); }

        dt { 
            font-style:oblique;
            font-weight: bold; 
            font-size: 18px; 
            text-align: right; 
            padding: 0 26px 0 0; 
            width: 150px; 
            float: left; 
            height: 100px; 
            border-right: 1px solid #999;  
            font-family: 'Zen Antique', serif;}

        dd { 
            width: 600px; 
            float: right; }
        dd.clear {
            float: none; 
            margin: 0; 
            height: 15px; }
            


